/*-----------general------------------*/

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--white-text-color);
	color: var(--main-text-color);
	width: 1600px;
}

:root {
	--main-text-color: #757575;
	--title-text-color: #212121;
	--dark-text-color: #000000;
	--blue-btn-color: #2196f3;
	--white-text-color: #ffffff;
	--background-title: #2f303a;
	--background-main: #f5f5f5;
}

.conteiner {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	/*outline: 1px solid red;*/
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

/*-----------------header--------------------*/

.header {
	border: 1px solid #ececec;
}
.header-nav {
	padding-top: 24px;
	margin-right: 93px;
	padding-bottom: 25px;
}

.header-container,
.header-nav,
.header-list {
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--dark-text-color);
	text-decoration: none;
	margin-right: 93px;
}

.logo-part {
	color: var(--blue-btn-color);
}

.nav-items:not(:first-child) {
	margin-left: 50px;
}

.list {
	list-style: none;
	padding: 0;
}

.header-link,
.mail,
.tell {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	text-decoration: none;
}

.header-contacts {
	margin-left: auto;
}

.contact-items:not(:last-child) {
	margin-right: 50px;
}

.contact-list {
	display: flex;
}

.mail,
.tell {
	color: var(--main-text-color);
}

.fcs:hover,
.fcs:focus {
	color: var(--blue-btn-color);
}

/*----------main-first-secyion--------------*/

.section-title {
	background-color: var(--background-title);
}

.title-container {
	padding-top: 200px;
	padding-bottom: 200px;
	display: block;
	text-align: center;
}

.main-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	background-color: var(--background-title);
	width: 696px;
	height: 120px;
	margin-left: 252px;
	padding: 0;
}

.main-btn {
	background-color: var(--blue-btn-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	margin-top: 30px;
}

/*-------main-secondary-section--------------*/

.work-desc {
	background-color: var(--background-main);
}

.pre-title-container {
	padding: 94px 15px;
}

.pre-title-container .list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pre-title-container .items {
	width: 270px;
	height: 98px;
}

.subject {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
	padding-bottom: 10px;
}

.subject-desc {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/*--------------work-section----------------*/

.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 50px;
}

.img-container {
	padding-bottom: 94px;
}

.img-container .list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*-------------our-team-section-------------*/

.team-container {
	padding: 94px 15px;
}

.section-team {
	background-color: #f5f4fa;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 50px;
}

.team-container .list {
	display: flex;
	margin-left: -30px;
}

.team-container .items {
	width: calc((100% - 30px) / 4);
	margin-left: 30px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-top: 30px;
	margin-bottom: 10px;
}

.job-title {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin-bottom: 30px;
}

.team-name,
.job-title {
	text-align: center;
}

.team-item {
	background-color: var(--white-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	width: 270px;
}

/*---------------portfolio-button-----------*/

.section {
	padding: 94px 15px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.btn-container {
	margin-bottom: 50px;
}

.btn-container .list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn-container .items:not(:last-child) {
	margin-right: 8px;
}

.portfolio-btn {
	background-color: var(--background-main);
	border-radius: 4px;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	cursor: pointer;
	width: 112px;
	height: 38px;
}

.fcs-btn:focus,
.fcs-btn:hover {
	background-color: var(--blue-btn-color);
	color: var(--white-text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---------------portfolio-main-------------*/

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
	margin: 20px 24px 4px 24px;
}

.portfolio-container .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio-desc {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin: 8px 24px 20px 24px;
}

.portfolio-item {
	border: 1px solid #eeeeee;
	width: 370px;
	margin-bottom: 30px;
}
/*----------------footer---------------------*/

.footer {
	background-color: var(--background-title);
}

.footer .conteiner {
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-logo {
	color: var(--white-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer-nav {
	margin-bottom: 20px;
}

.footer-adress {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--white-text-color);
	text-decoration: none;
}

.footer-mail,
.footer-tell {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-conteiner .items:not(:last-child) {
	margin-bottom: 9px;
}

.current {
	color: var(--blue-btn-color);
}
