/*-----------general------------------*/

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--background-main);
	color: var(--main-text-color);
}

:root {
	--main-text-color: #757575;
	--title-text-color: #212121;
	--dark-text-color: #000000;
	--blue-btn-color: #2196f3;
	--white-text-color: #ffffff;
	--background-title: #2f303a;
	--background-main: #ffffff;
	--background-icon: #f5f4fa;
	--icon-color: #afb1b8;
}

.conteiner {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	/*outline: 1px solid red;*/
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}
/*-----------------header--------------------*/

.header {
	border-bottom: 1px solid #ececec;
	padding-top: 24px;
	padding-bottom: 25px;
}
.header-nav {
	margin-right: 93px;
}

.header-container,
.header-nav,
.header-list {
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--dark-text-color);
	text-decoration: none;
	margin-right: 93px;
}

.logo-part {
	color: var(--blue-btn-color);
}

.nav-items:not(:first-child) {
	margin-left: 50px;
}

.list {
	list-style: none;
	padding: 0;
}

.header-link,
.mail,
.tell {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	text-decoration: none;
}

.icon-mail,
.icon-tell {
	fill: currentColor;
}

.icon-fcs:hover,
.icon-fcs:focus {
	fill: var(--blue-btn-color);
	color: var(--blue-btn-color);
}

.contact-items {
	display: flex;
	align-items: center;
}

.header-contacts {
	margin-left: auto;
}

.contact-items:not(:last-child) {
	margin-right: 50px;
}

.contact-list {
	display: flex;
}

.mail,
.tell {
	color: var(--main-text-color);
	margin-left: 10px;
}

.fcs:hover,
.fcs:focus {
	color: var(--blue-btn-color);
}

/*----------secyion title--------------*/

.section-title {
	background-color: var(--background-title);
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/main-bk.jpg);

	background-size: cover;
	background-position: center;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
}

.title-container {
	display: block;
	text-align: center;
}

.main-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	width: 696px;
	height: 120px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

.main-btn {
	background-color: var(--blue-btn-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	margin-top: 30px;
}

/*---------work-desc------------*/

.work-desc,
.client-section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.pre-title-container .list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pre-title-container .items {
	width: 270px;
	height: auto;
}

.thumb-work {
	width: 270px;
	height: 120px;
	background-color: var(--background-icon);
	margin-bottom: 30px;
}

.work-desc-icon {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin: 25px 100px;
}

.subject {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin-bottom: 10px;
}

.subject-desc {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/*--------------work-section----------------*/

.section-work {
	padding-bottom: 94px;
}

.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 50px;
}

.img-container .list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*-------------our-team-section-------------*/

.section-team {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}

.team-title,
.client-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 50px;
}

.team-container .team-card-list {
	display: flex;
	margin-left: -30px;
}

.team-container .team-item {
	width: calc((100% - 30px) / 4);
	margin-left: 30px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-top: 30px;
	margin-bottom: 10px;
}

.job-title {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin-bottom: 30px;
}

.team-name,
.job-title {
	text-align: center;
}

.social-list {
	display: flex;
	justify-content: center;
}
.social-items {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-right: 10px;
	margin-bottom: 30px;
}

.social-items:focus,
.social-items:hover {
	background-color: var(--blue-btn-color);
}

.social-items:last-child {
	margin-right: 0;
}

.social-link:focus,
.social-link:hover {
	fill: var(--background-main);
}

.social-link {
	width: 100%;
	height: 100%;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--icon-color);
}

.team-item {
	background-color: var(--white-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	width: 270px;
}

/*----------------client---------------------*/

.client-list {
	display: flex;
	margin-left: -30px;
}

.client-items {
	width: calc((100% - 30px) / 6);
	margin-left: 30px;
}

.client-link {
	height: 92px;
	fill: var(--icon-color);
	border: 1px solid var(--icon-color);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.client-link:focus,
.client-link:hover {
	border: 1px solid var(--blue-btn-color);
	fill: var(--blue-btn-color);
}

/*---------------portfolio-button-----------*/

.section {
	padding: 94px 15px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.btn-container {
	margin-bottom: 50px;
}

.btn-container .list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn-container .items:not(:last-child) {
	margin-right: 8px;
}

.portfolio-btn {
	background-color: var(--background-icon);
	border-radius: 4px;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	cursor: pointer;
	width: 112px;
	height: 38px;
}

.fcs-btn:focus,
.fcs-btn:hover {
	background-color: var(--blue-btn-color);
	color: var(--white-text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---------------portfolio-main-------------*/

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
	margin-top: 20px;
	margin-bottom: 4px;
	padding-left: 24px;
}

.portfolio-container .list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-desc {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	padding-left: 24px;
	padding-bottom: 20px;
}

.container-desc {
	border: 1px solid #eeeeee;
}

.portfolio-item {
	width: 370px;
}

.portfolio-hvr:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------------footer---------------------*/

.footer {
	background-color: var(--background-title);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-main {
	display: flex;
}

.footer-conteiner {
	margin-right: 70px;
}

.footer-logo {
	color: var(--white-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer-nav {
	margin-bottom: 20px;
	display: block;
}

.footer-adress {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--white-text-color);
	text-decoration: none;
}

.footer-mail,
.footer-tell {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-conteiner .items:not(:last-child) {
	margin-bottom: 9px;
}

.current {
	color: var(--blue-btn-color);
}

.footer-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--background-main);
	margin-bottom: 20px;
}

.footer-social-list .items {
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	margin-right: 10px;
}

.footer-social-list .items:last-child {
	margin: 0;
}

.footer-social {
	margin-top: 12px;
}

.footer-link {
	width: 100%;
	height: 100%;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--background-main);
}

.footer-social-list {
	display: flex;
}

.footer-hvr:focus,
.footer-hvr:hover {
	background-color: var(--blue-btn-color);
}
