// utils
@import "./utils/modern-normalize";
@import "./utils/variables";
// base
@import "./base/base";
// layout
@import "./layout/header";
@import "./layout/footer";
// component
@import "./components/title-section";
@import "./components/description-section";
@import "./components/work-section";
@import "./components/team-section";
@import "./components/client-section";
@import "./components/modal-section";
@import "./components/portfolio-button-section";
@import "./components/portfolio-main-section";
