.header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {

    margin-right: 93px;
}

.header-container,
.header-nav,
.header-list {
    display: flex;
    align-items: center;
}

.header-list {
    @media screen and (max-width: 768px) {
        display: none;
    }

}

.header-list__link {
    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $blue-btn-color;
        position: absolute;
        top: 45.3px;
        opacity: 0;
        transform: scaleX(0.3);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus,
    &:hover {
        &::after {
            opacity: 1;
            transform: scaleX(1);
        }
    }

}

.header-nav__logo {
    font-family: $raleway;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $dark-text-color;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }


    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 92px;
    }
}

.header-nav__part {
    color: $blue-btn-color;
}

.header-list__items:not(:first-child) {
    margin-left: 50px;
}

.list {
    list-style: none;
    padding: 0;
}

.header-list__link {
    font-weight: $medium;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__mail,
.contacts-list__tell {
    font-weight: $medium;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts-list__tell {
    font-size: 34px;
    line-height: 1.17;
    color: $blue-btn-color;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}



.contacts-list__mail__icon,
.contacts-list__tell__icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-focus {

    &:hover {

        .contacts-list__mail__icon,
        .contacts-list__tell__icon {
            fill: $blue-btn-color;
        }

        .contacts-list__mail,
        .contacts-list__tell {
            color: $blue-btn-color;
        }
    }
}

.contacts {
    @media screen and (max-width: 768px) {
        display: none;
    }

}

.contacts-list {
    @media screen and (min-width: 1200px) {
        display: flex;

    }

}

.contacts-list__items {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {

            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 50px;

        }
    }
}

.contacts-list__mail,
.contacts-list__tell {
    color: $main-text-color;
    margin-left: 8px;

    @media screen and (min-width: 1200px) {
        margin-left: 10px;
    }
}

.header-link__focus:hover,
.header-link__focus:focus {
    color: $blue-btn-color;
}

.current {
    &::after {
        opacity: 1;
        transform: scaleX(1);
    }

    color: $blue-btn-color;
}