.description {
    padding-top: 60px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}

.description-container {
    .description-list {



        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

       
    }

    .description-list__items {
        width: 450px;
        height: auto;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;

        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            margin-bottom: 0;
        }
    }

    .thumb-work {
        width: 450px;
        height: 120px;
        background-color: $background-icon;
        margin-bottom: 30px;
        position: relative;



        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    .description-list__icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


    }


    .description-list__subject {
        font-weight: $bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-text-color;
        margin-bottom: 10px;
    }

    .description-list__desc {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }
}