.description {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description-container {
    .description-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .description-list__items {
        width: 270px;
        height: auto;
    }

    .thumb-work {
        width: 270px;
        height: 120px;
        background-color: $background-icon;
        margin-bottom: 30px;
    }

    .description-list__icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        margin: 25px 100px;
    }


    .description-list__subject {
        font-weight: $bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-text-color;
        margin-bottom: 10px;
    }

    .description-list__desc {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }
}