.work {
    padding-bottom: 94px;
}


.work-container__title {
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-list__items {
    position: relative;
}

.work-list__text {
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    color: $background-main;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}