.page-body {
    font-family: $roboto;
    background-color: $background-main;
    color: $main-text-color;
}



.conteiner {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}


h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link{
    list-style: none;
}