// color
$main-text-color: #757575;
$title-text-color: #212121;
$dark-text-color: #000000;
$blue-btn-color: #2196f3;
$white-text-color: #ffffff;
$background-title: #2f303a;
$background-main: #ffffff;
$background-icon: #f5f4fa;
$icon-color: #afb1b8;


// font
$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;

// font-weight
$regular: 400;
$medium: 500;
$bold: 700;
$extrabold: 900;